body {
    background-color: #b91450;
}

header {
    height: 100px;
    background-color: white;
}

.title-img {
    height: 100px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

#qr-code {
    border: 2px dashed red;
    padding: 20px;
    height: 400px;
    width: 400px;
}

#calc-fare .card {
    justify-content: center;
}

button#submit-info  {
    background-color: #b91450;
    color: white;
    width: 150px;
}

button#reset-info  {
    background-color: gray;
    color: white;
    width: 150px;
}

.card-text {
    padding: 15px 0;
}

#name-result {
    font-size: 2rem;
}